#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  margin-left: 5%;
  margin-top: 2%;
}

.library{
  text-align: center;
}

.btnColor {
  background-color: #b5f9ff !important; 
  border: 1px solid #9ee5eb;
  color: #000000;
}

.bookDisplay{
  width: 50%;
  margin: 0 auto;
}